@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=SUSE:wght@100..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.container{
    height: 100vh;
}
.row{
    border: 3px solid #023e8a;
}
.header{
    border-radius: 30% 70% 100% 0% / 0% 0% 100% 100% ;
    background-color: #023e8a;
}
#addItemInput{
    outline: 1px solid #023e8a;
    border: none;
}
#addbtn{
    border: none;
    background-color: #023e8a;
}
#task-list li{
    list-style-type: none;
}
.taskName{
    outline: none;
    border: none;
    background: transparent;
}
#task-list li{
    background: rgb(225, 223, 223);
    padding: 0.5rem 0.78rem;
    margin-bottom: 1rem;
}
#task-list input[type="text"] {
    width: 70%;
}
#task-list input[type="checkbox"] {
    width: 10%;
    height: 1rem;
}
.body-bottom ul{
    padding-left: 0;
}